<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "org.concord.particle-patty"
    versionCode = "1"
    version     = "1.0.1" >

<!-- versionCode is optional and Android only -->

  <name>Particle Patty</name>

  <description>
      Particle Patty - Cartoon of states of matter
  </description>

  <author href="https://concord.org" email="sfentress@concord.org">
      The Concord Consortium
  </author>

  <preference name="orientation" value="landscape" />

  <platform name="ios">
    <icon src="icon.png" />
    <icon src="res/icon-40.png" platform="ios" width="40" height="40" />
    <icon src="res/icon-76.png" platform="ios" width="76" height="76" />
    <icon src="res/icon-120.png" platform="ios" width="120" height="120" />
    <icon src="res/icon-152.png" platform="ios" width="152" height="152" />

    <splash src="splash.png" />
    <splash src="splash-1024.png" platform="ios" width="1024" height="768" />
    <splash src="splash-2048.png" platform="ios" width="2048" height="1536" />
  </platform>

  <plugin name="cordova-plugin-statusbar" />
  <preference name="StatusBarOverlaysWebView" value="true" />
  <preference name="StatusBarBackgroundColor" value="#000000" />
  <preference name="StatusBarStyle" value="lightcontent" />

  <content src="index.html" />
  <access origin="*" />
</widget>