html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { display: block; }
blockquote,q { quotes: none; }
blockquote:before,blockquote:after,q:before,q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }
html,body { height: 100%; }

body {
  background: url(assets/img/background.jpg);
  background-size: 100%;
  color: #3f3f3f;
  font: 100% Verdana, Arial, Helvetica, sans-serif;
  line-height: 1;
}
body.title {
  background-image: url(assets/img/background-title.jpg);
}
#page-container {
  height: auto;
  margin: 0 auto 0;
  min-height: 43.75em;
  overflow-x: hidden;
  position: relative;
  width: 66.666666666666667em;
  }
.video-selection {
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  margin: auto;
}
.home-button {
  position: absolute;
  bottom: 4px;
  right: 28px;
}
.home-button>img {
  width: 45px;
}
.home #page-container {
  padding-bottom: 4em;
  width: 50em;
  }
  .home #page-container li {
    display: inline-block;
    font-size: 1.25em;
    list-style: none;
    margin: 0;
    margin: 1%;
    width: 48%;
    }
  .home #page-container li:nth-child(3n+1) {
    margin-left: 0;
    }
  .home #page-container li:nth-child(3n) {
    margin-right: 0;
    }
    .home #page-container li a {
      color: #2c79ba;
      display: block;
      height: 100%;
      text-align: center;
      text-decoration: none;
      width: 100%;
      }
    .home #page-container li img {
      float: left;
      height: auto;
      margin: 0 0 .25em;
      width: 100%;
      }
#video {
  height: 600px;
  left: 50%;
  margin-left: -33.3333333333333335em;
  overflow: hidden;
  position: absolute;
  top: 0;
  visibility: visible;
  width: 66.666666666666667em;
  z-index: 10;
  }


#splash {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  pointer-events: none;
  transition: opacity 0.5s;
}

#splash.hidden {
  opacity: 0;
}